/* body{
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.container{
    background-color: white;
    max-width: 100%;
    margin: auto;
    margin-top: -8px;
}

/* keep the background of nav-bar black even when zoomed out */
header {
    background: black;
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
}

.ambassador{
    display: flex;
    list-style: none;
    top: 0;  
    width: 1600px;
    max-width: 1300px;
    margin: auto;
    background: black;
    color: white;
    padding: 12px;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    font-size: 1.1875em;
}

#logo{
    width: 1.5em;
}

.search-bar{
    margin-left: auto;
    margin-right: auto;
}



/* space the menu bar at the top right corner */
.ambassador li:not(:first-child):not(.search-bar){
    margin-right: 20px;
}

.ambassador li{
    cursor: pointer;
}

.ambassador li:not(.amb-dropdown):hover:not(.search-bar){
    background-color: rgba(160, 182, 120, 0.836);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(163, 223, 86);
    box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.amb-dropdown:hover .dropdown-content {
    display: block;
}

.amb-dropdown:hover .dropdown-btn {
    background-color: grey;
}

main{
    padding-top: 70px;
    max-width: 1700px;
    margin: auto;
}
#upper-part{
    background: url("https://lh3.googleusercontent.com/oqWDNA4QUE4hU5SYcXmi0bhQ-Crwd2DTg5ByBUzxaBxJlKg-K5OfEikxAh008-IBzoEbTfx2y4ojp60RIGnk8Ql8bs3QrPpLLIPlULX2lniCpFWBkD3bDJ4chKu-27GcJw2eurwH-cPBLIfnP0BGGDsdg06YczyU3ElGhzF5d-Bn8W6IiXJkYRsU8mAHZBNpZjELDurXLOS_FUbWSXHvrc4rIiY59AyeiQLrK3BI8AF-OiHZFHHaj3k_yQZ5e81hJBy08YPnRATcO5pr9Zo7jYdwq2g_aaAywLNPqQs-xLZBbbIqN5qDrIaLLWLKOMr_yOPeHu5GEcM-zDlaA1GPkWg7RQTp58sFzyA4vW_bg0ce--qYlt4_E6pBU5whpQaWReZSpom0bOJ_EdpmlZyrsbLELH6G3fY8qE_NNwmYeaaHsPaEpiXCkdQRoRbQxY5vAolVULcBkosyhxQfWG5zhHGNB9WnjPNPHAmLmbZss1Gmm4D1VRTBGl7CDwd_ByQUeK39IqUBQrcXd-pCGIssVOvVTM8KJcl5NiHmmCSMDkUdzCmQd_dn0dpLePvHX15DuAWhhucwKeNMj533ljPzJldBpckCtwKd41g7Rg_i=w880-h660-no");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 600px;
}

#part1 p{
    text-align: center;
    color: white;
    font-style: italic;
    margin: auto;
    font-size: 3.4em;
}

#part1{
    /* background: rgba(72, 104, 42, 0.8); */
    background: #673AB7;
    opacity: 0.9; 
    height: 100%;
}

#lower-part{
    background-color: black;
    height: 700px;
}





/* responsive for smaller screen */
@media only screen and (max-width: 650px) {
    body {
        background-color: lightblue;
    }
    header{
        position: relative;
        
    }

    .ambassador{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    main{
        padding-top: 135px;
    }
    #part1 p{
        font-size: 1.4em;
        padding-top: 72px; 
    }
}